<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/s_dashboard.css" />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <%-include('./partials/main_fetch.ejs')
    %>
  </body>
</html>
